<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">
    <h1>List of Restaurants</h1><br><br>
    
    <table border="1" style="margin-left: auto; margin-right: auto;" id="restaurantList">
        <thead>
            <tr>
                <th>No</th>
                <th onclick="sortTable(0)" style="cursor: pointer;">Name</th>
                <th onclick="sortTable(1)" style="cursor: pointer;">Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((x, index) => { %>
                <tr>
                    <td><%= index+1 %></td>
                    <td><%= x.name %></td>
                    <td><%= x.address%></td>
                    <td>
                        <a href="/admin/home/storesList/<%=x.id%>"><button>Details</button></a>
                        <a href="/admin/home/storesList/<%=x.id%>/delete"><button>Delete</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table><br>    
    <a href="/admin/home"><button>Back</button></a>
</body>
<script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("restaurantList");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>
</html>